[project]
	description = database
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lakshay Verma (lakshayverma629)
[access "refs/for/refs/*"]
	read = group user/Lakshay Verma (lakshayverma629)
	push = group user/Lakshay Verma (lakshayverma629)
	label-Code-Review = -2..+2 group user/Lakshay Verma (lakshayverma629)
	label-Verified = -1..+1 group user/Lakshay Verma (lakshayverma629)
	rebase = group user/Lakshay Verma (lakshayverma629)
	removeReviewer = group user/Lakshay Verma (lakshayverma629)
	submit = group user/Lakshay Verma (lakshayverma629)
[access "refs/heads/*"]
	read = group user/Lakshay Verma (lakshayverma629)
	create = group user/Lakshay Verma (lakshayverma629)
	push = +force group user/Lakshay Verma (lakshayverma629)
	pushMerge = group user/Lakshay Verma (lakshayverma629)
[access "refs/tags/*"]
	push = group user/Lakshay Verma (lakshayverma629)
	push = +force group user/Lakshay Verma (lakshayverma629)
